//_components.scss

// These are utility-driven classes that can be used in any component

.centered {
    display: flex;
    align-items: center;
}


.sticky {
    position: fixed;
    right: 10%;
    top: 20px;
    z-index: 999;
}

.title {
    margin-top: $margin-large;
    margin-bottom: $margin-large;
}