//_components.scss

// These are utility-driven classes that can be used in any component

.centered {
    display: flex;
    flex: 1;
    /* main content takes up remaining space */
    align-items: center;
}


.title {
    font-size: $font-size-xxlarge;
    margin-top: $margin-small;
    margin-bottom: $margin-small;
}