footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgb(25, 25, 106);
    display: block;
    color: white;
    text-transform: uppercase;
    clear: both;
    margin-top: 50px;
    ;
}