//_hero.scss

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../uploads/2023/01/kids-running-to-the-sunrize.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position-x: 20%;
    background-position-y: 70%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;
}

section.hero {
    width: 60%;
    height: 90vh;
    padding-top: 50vh;
    color: $white-color;
    font-size: $font-size-medium;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    animation: moveDown 1s ease-in-out forwards;

    mark {
        margin: 0.1em 0;
        background-color: $black-color;
        opacity: 0.8;
        color: $white-color;
        word-spacing: 0.2rem;
        line-height: $font-size-large;
    }
}