//_layout.scss

/*********************************/
.container {
    width: 90%;
    margin: 0 auto;
}

section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission {
    @include card(100%, 100%);
    background-color: $quinary-color;

    h1 {
        padding: $padding-small $padding-medium;
        color: $white-color;
    }

    p {
        padding: $padding-small $padding-medium;
        color: $white-color;
        font-size: $font-size-medium;
    }
}

.projects {
    background-color: $primary-color;

    h1 {
        padding: $padding-small $padding-medium;
        color: $white-color;
    }
}

.partners {
    background-color: darksalmon;
}

.projects,
.partners {
    // background: $tertiary-color;
    margin-top: 20px;
    // padding: 10px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1em;
    // background: rgb(213, 235, 194);
    margin-top: 10px;
    // padding: 10px;
}

.flex-item {
    flex: 1 1 250px;
    margin-top: 10px;
}






@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes moveArrow {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}